<!DOCTYPE HTML>
<html> 
 <head>
  <meta charset="UTF-8">
  <title>Item not found!</title>
  <!--
  <link rel="stylesheet" type="text/css" href="FIXME" />
  <script type="text/javascript" src="FIXME"></script>
  <style type="text/css">
   /* <![CDATA[ */
   /* ]]> */
  </style>
  -->
 </head>
 <body>
    I'm sorry Dave, but I'm afraid I just can't do that.
    {{error}}
    <!-- This should be broken into a set of templates giving specific feedback
         for human testing of various request endpoints. -->
 </body>
</html>
